.custom-options {
    margin: 3px 0px 3px 0px;
}

.custom-select {
    border: none;
    background: transparent;
    color: white;
}

.custom-numberinput {
    text-align: right;
    width: 50px;
}

.buttonpadding {
    min-height: 40px;
    /* border-bottom: 1px solid #e6e6e6; */
    margin: 5px, -10px;
    padding-bottom: 5px;
}


/* .button {
border: none;
color: white;
padding: 16px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 5px;
transition-duration: 0.4s;
cursor: pointer;
} */

.greenbutton {
    position: relative;
    top: auto;
    right: auto;
    margin: 0;
    margin-top: 20px;
    margin-left: 65%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: 2px solid #4CAF50;
    padding: 4px;
}

.greenbutton:hover {
    color: white;
}